/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v29-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/fraunces-v32-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v29-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background: bisque;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center !important;
}
main {
  flex-grow: 1;
}
img {
  object-fit: cover;
  display: flex;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
/* .container {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
} */

.header__container {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.header__img{
  height: 100%;
}
.header__container__surrounding {
  padding: 32px;
}
.header__container__description {
  color: #6c7289;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header__container__title {
  max-width: 236px;
  margin-bottom: 24px;
  color: #1c232b;
  font-family: "Fraunces" serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.header__container__subtitle {
  max-width: 237px;
  color: #6c7289;
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}
.header__container__paragraph {
  color: #3d8168;
  font-family: Fraunces;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.header__container__striketitle {
  color: #6c7289;
  font-family: "Montserrat" sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  text-decoration-line: strikethrough;
}
.header__container__item {
  border-radius: 8px;
  background: #3d8168;
  width: 236px;
  height: 48px;
}
.header__container__href {
  color: #fff;
  font-family: "Montserrat" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.header__container__content__image {
  width: 14.385px;
  height: 16px;
}
